---
layout: layout.liquid
title: Home
---

<h1>Interstellar Explorer's Journal</h1>
<p>Follow the adventures of a lone human traversing the cosmos. Click below to read:</p>

<ul>
  <li><a href="/blog1/">Journey to the Andromeda Galaxy</a></li>
  <li><a href="/blog2/">Survival on Proxima Centauri b</a></li>
</ul>
